.LowBand-container {
  grid-column: 1;
  height: 250px;
  width: 120px;
  padding-top: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
}

.LowMidBand-container {
  grid-column: 2;
  height: 600px;
}

.HighMidBand-container {
  grid-column: 3;
}

.HighBand-container {
  grid-column: 4;
}

.Slider-container {
  margin: 0 auto;
  width: 60px;
}

.Slider-title {
  margin-top: 0;
}

.rc-Slider {
  /* width: 80px; */
  margin: 0 auto;
}
