.Band-container {

  height: 86%;
  width: 120px;
  padding: 20px;
  display: flex;
  margin: 10px auto;
  justify-content: center;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(222, 222, 222);
  border-radius: 4px;
  box-shadow: 0 3px 12px #c2c2c2;
}

.Slider-container {
  margin: 0 auto;
}

.Slider-container p {
  width: 80px;
}

.Slider-title {
  margin-top: 0;
}

.rc-Slider {
  height: 250px;
  margin: 0 auto;
}
