.PresetList-container {
  margin: 0;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 3px 12px #c2c2c2;
  background-color: white;
  width: 100%;
  height: 80%;
  max-height: 80%;
  align-self: stretch;
  overflow-y: scroll;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-item {
  background-color: rgb(227, 227, 227);
  width: 80%;
  margin: auto;
  padding: 1px 0;
  border-radius: 4px;
  box-shadow: 0 2px 12px #c2c2c2;
}

.list-item:hover {
  border: 1px solid rgb(220, 220, 220);
  background-color: rgb(220, 220, 220);
}

.Controls-container {
  margin-top: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 0 3px 12px #c2c2c2;
  background-color: white;
  width: 100%;
  height: 91px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap: 5px;
}

.Control-button {
  margin: auto;
  
}
